.hljs {
    padding: 0 10px !important;
}
.fontsNav{
  	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
.fontsContent{
	font-family: "Menlo", monospace;
}