@charset "UTF-8";
/* base reset*/
html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

ins, a {
  text-decoration: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%; }

a > img {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  height: auto;
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

/*@import "base/baseIcon";*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

blockquote, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/**
 * grid
 */
.container, .row, .box-container, .box-row {
  position: relative; }
  .container:before, .row:before, .box-container:before, .box-row:before, .container:after, .row:after, .box-container:after, .box-row:after {
    content: " ";
    display: table; }
  .container:after, .row:after, .box-container:after, .box-row:after {
    clear: both; }

.box-span1, .span1, .box-col1, .col1, .box-span2, .span2, .box-col2, .col2, .box-span3, .span3, .box-col3, .col3, .box-span4, .span4, .box-col4, .col4, .box-span5, .span5, .box-col5, .col5, .box-span6, .span6, .box-col6, .col6, .box-span7, .span7, .box-col7, .col7, .box-span8, .span8, .box-col8, .col8, .box-span9, .span9, .box-col9, .col9, .box-span10, .span10, .box-col10, .col10, .box-span11, .span11, .box-col11, .col11, .box-span12, .span12, .box-col12, .col12, .box-col13, .col13, .box-col14, .col14, .box-col15, .col15 {
  float: left;
  position: relative;
  min-height: 1px; }

.container, .span1, .col1, .span2, .col2, .span3, .col3, .span4, .col4, .span5, .col5, .span6, .col6, .span7, .col7, .span8, .col8, .span9, .col9, .span10, .col10, .span11, .col11, .span12, .col12, .col13, .col14, .col15 {
  padding-right: 10px;
  padding-left: 10px; }

.span1.mini, .col1.mini, .span2.mini, .col2.mini, .span3.mini, .col3.mini, .span4.mini, .col4.mini, .span5.mini, .col5.mini, .span6.mini, .col6.mini, .span7.mini, .col7.mini, .span8.mini, .col8.mini, .span9.mini, .col9.mini, .span10.mini, .col10.mini, .span11.mini, .col11.mini, .span12.mini, .col12.mini, .col13.mini, .col14.mini, .col15.mini {
  padding-right: 5px;
  padding-left: 5px; }

.container {
  max-width: 800px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row.mini {
    margin-left: -5px;
    margin-right: -5px; }

.box-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.box-span1, .span1 {
  width: 8.3333333333%; }

.box-col1, .col1 {
  width: 6.6666666667%; }

.box-span2, .span2 {
  width: 16.6666666667%; }

.box-col2, .col2 {
  width: 13.3333333333%; }

.box-span3, .span3 {
  width: 25%; }

.box-col3, .col3 {
  width: 20%; }

.box-span4, .span4 {
  width: 33.3333333333%; }

.box-col4, .col4 {
  width: 26.6666666667%; }

.box-span5, .span5 {
  width: 41.6666666667%; }

.box-col5, .col5 {
  width: 33.3333333333%; }

.box-span6, .span6 {
  width: 50%; }

.box-col6, .col6 {
  width: 40%; }

.box-span7, .span7 {
  width: 58.3333333333%; }

.box-col7, .col7 {
  width: 46.6666666667%; }

.box-span8, .span8 {
  width: 66.6666666667%; }

.box-col8, .col8 {
  width: 53.3333333333%; }

.box-span9, .span9 {
  width: 75%; }

.box-col9, .col9 {
  width: 60%; }

.box-span10, .span10 {
  width: 83.3333333333%; }

.box-col10, .col10 {
  width: 66.6666666667%; }

.box-span11, .span11 {
  width: 91.6666666667%; }

.box-col11, .col11 {
  width: 73.3333333333%; }

.box-span12, .span12 {
  width: 100%; }

.box-col12, .col12 {
  width: 80%; }

.box-col13, .col13 {
  width: 86.6666666667%; }

.box-col14, .col14 {
  width: 93.3333333333%; }

.box-col15, .col15 {
  width: 100%; }

.img-container {
  overflow: hidden; }
  .img-container img {
    max-height: 100%;
    max-width: 100%; }
  .img-container.full img {
    width: 100%;
    height: 100%; }
  .img-container.radius {
    border-radius: 4px; }
  .img-container.round {
    border-radius: 800px; }
  .img-container.border {
    border: 1px solid #eeeeee; }

.scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }
  .scroll-container > * {
    display: inline-block; }
  .scroll-container::-webkit-scrollbar {
    display: none; }

.flex-container, .img-container, .flex-container-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .flex-container.round, .round.img-container, .round.flex-container-col {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .flex-container.center, .img-container, .center.flex-container-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-container.left, .left.img-container, .left.flex-container-col {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex-container.right, .right.img-container, .right.flex-container-col {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex-container.top, .top.img-container, .top.flex-container-col {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flex-container.line, .line.img-container, .line.flex-container-col {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .flex-container.bottom, .bottom.img-container, .bottom.flex-container-col {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .flex-container.vfull, .vfull.img-container, .vfull.flex-container-col {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .flex-container.hfull > *, .hfull.img-container > *, .hfull.flex-container-col > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .flex-container.leftCenter, .leftCenter.img-container, .leftCenter.flex-container-col {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex-container.leftTop, .leftTop.img-container, .leftTop.flex-container-col {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flex-container.leftBottom, .leftBottom.img-container, .leftBottom.flex-container-col {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .flex-container.leftLine, .leftLine.img-container, .leftLine.flex-container-col {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .flex-container.rightCenter, .rightCenter.img-container, .rightCenter.flex-container-col {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex-container.rightTop, .rightTop.img-container, .rightTop.flex-container-col {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flex-container.rightBottom, .rightBottom.img-container, .rightBottom.flex-container-col {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .flex-container.rightLine, .rightLine.img-container, .rightLine.flex-container-col {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .flex-container.topRound, .topRound.img-container, .topRound.flex-container-col {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flex-container.bottomRound, .bottomRound.img-container, .bottomRound.flex-container-col {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.flex-container-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .flex-container-col.round {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .flex-container-col.center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-container-col.left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flex-container-col.right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .flex-container-col.top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex-container-col.bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex-container-col.vfull > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .flex-container-col.hfull {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .flex-container-col.leftCenter {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-container-col.leftTop {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex-container-col.leftBottom {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex-container-col.rightCenter {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-container-col.rightTop {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex-container-col.rightBottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex-container-col > span {
    display: block; }

.flex-grow1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flex-grow2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.flex-grow3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3; }

.flex3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.flex-grow4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4; }

.flex4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4; }

.flex-grow5 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5; }

.flex5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5; }

.flex-basis0 {
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%; }

.flex-basis5 {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%; }

.flex-basis10 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%; }

.flex-basis15 {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%; }

.flex-basis20 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }

.flex-basis25 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }

.flex-basis30 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }

.flex-basis35 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%; }

.flex-basis40 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%; }

.flex-basis45 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%; }

.flex-basis50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }

.flex-basis55 {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%; }

.flex-basis60 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%; }

.flex-basis65 {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%; }

.flex-basis70 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%; }

.flex-basis75 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%; }

.flex-basis80 {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%; }

.flex-basis85 {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%; }

.flex-basis90 {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%; }

.flex-basis95 {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%; }

.flex-basis100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

/**
 * ratio container
 */
.ratio-container, .ratio-container-1x2, .ratio-container-1x3, .ratio-container-1x4, .ratio-container-1x5, .ratio-container-2x1, .ratio-container-2x3, .ratio-container-2x4, .ratio-container-2x5, .ratio-container-3x1, .ratio-container-3x2, .ratio-container-3x4, .ratio-container-3x5, .ratio-container-4x1, .ratio-container-4x2, .ratio-container-4x3, .ratio-container-4x5, .ratio-container-5x1, .ratio-container-5x2, .ratio-container-5x3, .ratio-container-5x4 {
  position: relative;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }
  .ratio-container:before, .ratio-container-1x2:before, .ratio-container-1x3:before, .ratio-container-1x4:before, .ratio-container-1x5:before, .ratio-container-2x1:before, .ratio-container-2x3:before, .ratio-container-2x4:before, .ratio-container-2x5:before, .ratio-container-3x1:before, .ratio-container-3x2:before, .ratio-container-3x4:before, .ratio-container-3x5:before, .ratio-container-4x1:before, .ratio-container-4x2:before, .ratio-container-4x3:before, .ratio-container-4x5:before, .ratio-container-5x1:before, .ratio-container-5x2:before, .ratio-container-5x3:before, .ratio-container-5x4:before {
    content: "";
    display: block;
    height: 0;
    font-size: 0; }
  .ratio-container > *, .ratio-container-1x2 > *, .ratio-container-1x3 > *, .ratio-container-1x4 > *, .ratio-container-1x5 > *, .ratio-container-2x1 > *, .ratio-container-2x3 > *, .ratio-container-2x4 > *, .ratio-container-2x5 > *, .ratio-container-3x1 > *, .ratio-container-3x2 > *, .ratio-container-3x4 > *, .ratio-container-3x5 > *, .ratio-container-4x1 > *, .ratio-container-4x2 > *, .ratio-container-4x3 > *, .ratio-container-4x5 > *, .ratio-container-5x1 > *, .ratio-container-5x2 > *, .ratio-container-5x3 > *, .ratio-container-5x4 > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font: initial;
    color: initial;
    overflow: hidden; }
  .ratio-container > img, .ratio-container-1x2 > img, .ratio-container-1x3 > img, .ratio-container-1x4 > img, .ratio-container-1x5 > img, .ratio-container-2x1 > img, .ratio-container-2x3 > img, .ratio-container-2x4 > img, .ratio-container-2x5 > img, .ratio-container-3x1 > img, .ratio-container-3x2 > img, .ratio-container-3x4 > img, .ratio-container-3x5 > img, .ratio-container-4x1 > img, .ratio-container-4x2 > img, .ratio-container-4x3 > img, .ratio-container-4x5 > img, .ratio-container-5x1 > img, .ratio-container-5x2 > img, .ratio-container-5x3 > img, .ratio-container-5x4 > img {
    width: 100%;
    height: 100%; }
  .ratio-container-col2.ratio-container, .ratio-container-col2.ratio-container-1x2, .ratio-container-col2.ratio-container-1x3, .ratio-container-col2.ratio-container-1x4, .ratio-container-col2.ratio-container-1x5, .ratio-container-col2.ratio-container-2x1, .ratio-container-col2.ratio-container-2x3, .ratio-container-col2.ratio-container-2x4, .ratio-container-col2.ratio-container-2x5, .ratio-container-col2.ratio-container-3x1, .ratio-container-col2.ratio-container-3x2, .ratio-container-col2.ratio-container-3x4, .ratio-container-col2.ratio-container-3x5, .ratio-container-col2.ratio-container-4x1, .ratio-container-col2.ratio-container-4x2, .ratio-container-col2.ratio-container-4x3, .ratio-container-col2.ratio-container-4x5, .ratio-container-col2.ratio-container-5x1, .ratio-container-col2.ratio-container-5x2, .ratio-container-col2.ratio-container-5x3, .ratio-container-col2.ratio-container-5x4 {
    z-index: 9; }
    .ratio-container-col2.ratio-container > *, .ratio-container-col2.ratio-container-1x2 > *, .ratio-container-col2.ratio-container-1x3 > *, .ratio-container-col2.ratio-container-1x4 > *, .ratio-container-col2.ratio-container-1x5 > *, .ratio-container-col2.ratio-container-2x1 > *, .ratio-container-col2.ratio-container-2x3 > *, .ratio-container-col2.ratio-container-2x4 > *, .ratio-container-col2.ratio-container-2x5 > *, .ratio-container-col2.ratio-container-3x1 > *, .ratio-container-col2.ratio-container-3x2 > *, .ratio-container-col2.ratio-container-3x4 > *, .ratio-container-col2.ratio-container-3x5 > *, .ratio-container-col2.ratio-container-4x1 > *, .ratio-container-col2.ratio-container-4x2 > *, .ratio-container-col2.ratio-container-4x3 > *, .ratio-container-col2.ratio-container-4x5 > *, .ratio-container-col2.ratio-container-5x1 > *, .ratio-container-col2.ratio-container-5x2 > *, .ratio-container-col2.ratio-container-5x3 > *, .ratio-container-col2.ratio-container-5x4 > * {
      bottom: -100%; }
  .ratio-container-span2.ratio-container, .ratio-container-span2.ratio-container-1x2, .ratio-container-span2.ratio-container-1x3, .ratio-container-span2.ratio-container-1x4, .ratio-container-span2.ratio-container-1x5, .ratio-container-span2.ratio-container-2x1, .ratio-container-span2.ratio-container-2x3, .ratio-container-span2.ratio-container-2x4, .ratio-container-span2.ratio-container-2x5, .ratio-container-span2.ratio-container-3x1, .ratio-container-span2.ratio-container-3x2, .ratio-container-span2.ratio-container-3x4, .ratio-container-span2.ratio-container-3x5, .ratio-container-span2.ratio-container-4x1, .ratio-container-span2.ratio-container-4x2, .ratio-container-span2.ratio-container-4x3, .ratio-container-span2.ratio-container-4x5, .ratio-container-span2.ratio-container-5x1, .ratio-container-span2.ratio-container-5x2, .ratio-container-span2.ratio-container-5x3, .ratio-container-span2.ratio-container-5x4 {
    z-index: 9; }
    .ratio-container-span2.ratio-container > *, .ratio-container-span2.ratio-container-1x2 > *, .ratio-container-span2.ratio-container-1x3 > *, .ratio-container-span2.ratio-container-1x4 > *, .ratio-container-span2.ratio-container-1x5 > *, .ratio-container-span2.ratio-container-2x1 > *, .ratio-container-span2.ratio-container-2x3 > *, .ratio-container-span2.ratio-container-2x4 > *, .ratio-container-span2.ratio-container-2x5 > *, .ratio-container-span2.ratio-container-3x1 > *, .ratio-container-span2.ratio-container-3x2 > *, .ratio-container-span2.ratio-container-3x4 > *, .ratio-container-span2.ratio-container-3x5 > *, .ratio-container-span2.ratio-container-4x1 > *, .ratio-container-span2.ratio-container-4x2 > *, .ratio-container-span2.ratio-container-4x3 > *, .ratio-container-span2.ratio-container-4x5 > *, .ratio-container-span2.ratio-container-5x1 > *, .ratio-container-span2.ratio-container-5x2 > *, .ratio-container-span2.ratio-container-5x3 > *, .ratio-container-span2.ratio-container-5x4 > * {
      right: -100%; }
  .ratio-container-col3.ratio-container, .ratio-container-col3.ratio-container-1x2, .ratio-container-col3.ratio-container-1x3, .ratio-container-col3.ratio-container-1x4, .ratio-container-col3.ratio-container-1x5, .ratio-container-col3.ratio-container-2x1, .ratio-container-col3.ratio-container-2x3, .ratio-container-col3.ratio-container-2x4, .ratio-container-col3.ratio-container-2x5, .ratio-container-col3.ratio-container-3x1, .ratio-container-col3.ratio-container-3x2, .ratio-container-col3.ratio-container-3x4, .ratio-container-col3.ratio-container-3x5, .ratio-container-col3.ratio-container-4x1, .ratio-container-col3.ratio-container-4x2, .ratio-container-col3.ratio-container-4x3, .ratio-container-col3.ratio-container-4x5, .ratio-container-col3.ratio-container-5x1, .ratio-container-col3.ratio-container-5x2, .ratio-container-col3.ratio-container-5x3, .ratio-container-col3.ratio-container-5x4 {
    z-index: 9; }
    .ratio-container-col3.ratio-container > *, .ratio-container-col3.ratio-container-1x2 > *, .ratio-container-col3.ratio-container-1x3 > *, .ratio-container-col3.ratio-container-1x4 > *, .ratio-container-col3.ratio-container-1x5 > *, .ratio-container-col3.ratio-container-2x1 > *, .ratio-container-col3.ratio-container-2x3 > *, .ratio-container-col3.ratio-container-2x4 > *, .ratio-container-col3.ratio-container-2x5 > *, .ratio-container-col3.ratio-container-3x1 > *, .ratio-container-col3.ratio-container-3x2 > *, .ratio-container-col3.ratio-container-3x4 > *, .ratio-container-col3.ratio-container-3x5 > *, .ratio-container-col3.ratio-container-4x1 > *, .ratio-container-col3.ratio-container-4x2 > *, .ratio-container-col3.ratio-container-4x3 > *, .ratio-container-col3.ratio-container-4x5 > *, .ratio-container-col3.ratio-container-5x1 > *, .ratio-container-col3.ratio-container-5x2 > *, .ratio-container-col3.ratio-container-5x3 > *, .ratio-container-col3.ratio-container-5x4 > * {
      bottom: -200%; }
  .ratio-container-span3.ratio-container, .ratio-container-span3.ratio-container-1x2, .ratio-container-span3.ratio-container-1x3, .ratio-container-span3.ratio-container-1x4, .ratio-container-span3.ratio-container-1x5, .ratio-container-span3.ratio-container-2x1, .ratio-container-span3.ratio-container-2x3, .ratio-container-span3.ratio-container-2x4, .ratio-container-span3.ratio-container-2x5, .ratio-container-span3.ratio-container-3x1, .ratio-container-span3.ratio-container-3x2, .ratio-container-span3.ratio-container-3x4, .ratio-container-span3.ratio-container-3x5, .ratio-container-span3.ratio-container-4x1, .ratio-container-span3.ratio-container-4x2, .ratio-container-span3.ratio-container-4x3, .ratio-container-span3.ratio-container-4x5, .ratio-container-span3.ratio-container-5x1, .ratio-container-span3.ratio-container-5x2, .ratio-container-span3.ratio-container-5x3, .ratio-container-span3.ratio-container-5x4 {
    z-index: 9; }
    .ratio-container-span3.ratio-container > *, .ratio-container-span3.ratio-container-1x2 > *, .ratio-container-span3.ratio-container-1x3 > *, .ratio-container-span3.ratio-container-1x4 > *, .ratio-container-span3.ratio-container-1x5 > *, .ratio-container-span3.ratio-container-2x1 > *, .ratio-container-span3.ratio-container-2x3 > *, .ratio-container-span3.ratio-container-2x4 > *, .ratio-container-span3.ratio-container-2x5 > *, .ratio-container-span3.ratio-container-3x1 > *, .ratio-container-span3.ratio-container-3x2 > *, .ratio-container-span3.ratio-container-3x4 > *, .ratio-container-span3.ratio-container-3x5 > *, .ratio-container-span3.ratio-container-4x1 > *, .ratio-container-span3.ratio-container-4x2 > *, .ratio-container-span3.ratio-container-4x3 > *, .ratio-container-span3.ratio-container-4x5 > *, .ratio-container-span3.ratio-container-5x1 > *, .ratio-container-span3.ratio-container-5x2 > *, .ratio-container-span3.ratio-container-5x3 > *, .ratio-container-span3.ratio-container-5x4 > * {
      right: -200%; }
  .ratio-container-col4.ratio-container, .ratio-container-col4.ratio-container-1x2, .ratio-container-col4.ratio-container-1x3, .ratio-container-col4.ratio-container-1x4, .ratio-container-col4.ratio-container-1x5, .ratio-container-col4.ratio-container-2x1, .ratio-container-col4.ratio-container-2x3, .ratio-container-col4.ratio-container-2x4, .ratio-container-col4.ratio-container-2x5, .ratio-container-col4.ratio-container-3x1, .ratio-container-col4.ratio-container-3x2, .ratio-container-col4.ratio-container-3x4, .ratio-container-col4.ratio-container-3x5, .ratio-container-col4.ratio-container-4x1, .ratio-container-col4.ratio-container-4x2, .ratio-container-col4.ratio-container-4x3, .ratio-container-col4.ratio-container-4x5, .ratio-container-col4.ratio-container-5x1, .ratio-container-col4.ratio-container-5x2, .ratio-container-col4.ratio-container-5x3, .ratio-container-col4.ratio-container-5x4 {
    z-index: 9; }
    .ratio-container-col4.ratio-container > *, .ratio-container-col4.ratio-container-1x2 > *, .ratio-container-col4.ratio-container-1x3 > *, .ratio-container-col4.ratio-container-1x4 > *, .ratio-container-col4.ratio-container-1x5 > *, .ratio-container-col4.ratio-container-2x1 > *, .ratio-container-col4.ratio-container-2x3 > *, .ratio-container-col4.ratio-container-2x4 > *, .ratio-container-col4.ratio-container-2x5 > *, .ratio-container-col4.ratio-container-3x1 > *, .ratio-container-col4.ratio-container-3x2 > *, .ratio-container-col4.ratio-container-3x4 > *, .ratio-container-col4.ratio-container-3x5 > *, .ratio-container-col4.ratio-container-4x1 > *, .ratio-container-col4.ratio-container-4x2 > *, .ratio-container-col4.ratio-container-4x3 > *, .ratio-container-col4.ratio-container-4x5 > *, .ratio-container-col4.ratio-container-5x1 > *, .ratio-container-col4.ratio-container-5x2 > *, .ratio-container-col4.ratio-container-5x3 > *, .ratio-container-col4.ratio-container-5x4 > * {
      bottom: -300%; }
  .ratio-container-span4.ratio-container, .ratio-container-span4.ratio-container-1x2, .ratio-container-span4.ratio-container-1x3, .ratio-container-span4.ratio-container-1x4, .ratio-container-span4.ratio-container-1x5, .ratio-container-span4.ratio-container-2x1, .ratio-container-span4.ratio-container-2x3, .ratio-container-span4.ratio-container-2x4, .ratio-container-span4.ratio-container-2x5, .ratio-container-span4.ratio-container-3x1, .ratio-container-span4.ratio-container-3x2, .ratio-container-span4.ratio-container-3x4, .ratio-container-span4.ratio-container-3x5, .ratio-container-span4.ratio-container-4x1, .ratio-container-span4.ratio-container-4x2, .ratio-container-span4.ratio-container-4x3, .ratio-container-span4.ratio-container-4x5, .ratio-container-span4.ratio-container-5x1, .ratio-container-span4.ratio-container-5x2, .ratio-container-span4.ratio-container-5x3, .ratio-container-span4.ratio-container-5x4 {
    z-index: 9; }
    .ratio-container-span4.ratio-container > *, .ratio-container-span4.ratio-container-1x2 > *, .ratio-container-span4.ratio-container-1x3 > *, .ratio-container-span4.ratio-container-1x4 > *, .ratio-container-span4.ratio-container-1x5 > *, .ratio-container-span4.ratio-container-2x1 > *, .ratio-container-span4.ratio-container-2x3 > *, .ratio-container-span4.ratio-container-2x4 > *, .ratio-container-span4.ratio-container-2x5 > *, .ratio-container-span4.ratio-container-3x1 > *, .ratio-container-span4.ratio-container-3x2 > *, .ratio-container-span4.ratio-container-3x4 > *, .ratio-container-span4.ratio-container-3x5 > *, .ratio-container-span4.ratio-container-4x1 > *, .ratio-container-span4.ratio-container-4x2 > *, .ratio-container-span4.ratio-container-4x3 > *, .ratio-container-span4.ratio-container-4x5 > *, .ratio-container-span4.ratio-container-5x1 > *, .ratio-container-span4.ratio-container-5x2 > *, .ratio-container-span4.ratio-container-5x3 > *, .ratio-container-span4.ratio-container-5x4 > * {
      right: -300%; }

.ratio-container:before {
  padding-top: 100%; }

.ratio-container-1x2:before {
  padding-top: 200%; }

.ratio-container-1x3:before {
  padding-top: 300%; }

.ratio-container-1x4:before {
  padding-top: 400%; }

.ratio-container-1x5:before {
  padding-top: 500%; }

.ratio-container-2x1:before {
  padding-top: 50%; }

.ratio-container-2x3:before {
  padding-top: 150%; }

.ratio-container-2x4:before {
  padding-top: 200%; }

.ratio-container-2x5:before {
  padding-top: 250%; }

.ratio-container-3x1:before {
  padding-top: 33.3333333333%; }

.ratio-container-3x2:before {
  padding-top: 66.6666666667%; }

.ratio-container-3x4:before {
  padding-top: 133.3333333333%; }

.ratio-container-3x5:before {
  padding-top: 166.6666666667%; }

.ratio-container-4x1:before {
  padding-top: 25%; }

.ratio-container-4x2:before {
  padding-top: 50%; }

.ratio-container-4x3:before {
  padding-top: 75%; }

.ratio-container-4x5:before {
  padding-top: 125%; }

.ratio-container-5x1:before {
  padding-top: 20%; }

.ratio-container-5x2:before {
  padding-top: 40%; }

.ratio-container-5x3:before {
  padding-top: 60%; }

.ratio-container-5x4:before {
  padding-top: 80%; }

.margin0 {
  margin: 0px; }

.margint0, .marginv0 {
  margin-top: 0px; }

.marginb0, .marginv0 {
  margin-bottom: 0px; }

.marginl0, .marginh0 {
  margin-left: 0px; }

.marginr0, .marginh0 {
  margin-right: 0px; }

.margint-n0 {
  margin-top: 0px; }

.marginb-n0 {
  margin-bottom: 0px; }

.marginl-n0 {
  margin-left: 0px; }

.marginr-n0 {
  margin-right: 0px; }

.padding0 {
  padding: 0px; }

.paddingt0, .paddingv0 {
  padding-top: 0px; }

.paddingb0, .paddingv0 {
  padding-bottom: 0px; }

.paddingl0, .paddingh0 {
  padding-left: 0px; }

.paddingr0, .paddingh0 {
  padding-right: 0px; }

.top0 {
  top: 0px; }

.right0 {
  right: 0px; }

.left0 {
  left: 0px; }

.bottom0 {
  bottom: 0px; }

.top-n0 {
  top: 0px; }

.right-n0 {
  right: 0px; }

.left-n0 {
  left: 0px; }

.bottom-n0 {
  bottom: 0px; }

.margin10 {
  margin: 10px; }

.margint10, .marginv10 {
  margin-top: 10px; }

.marginb10, .marginv10 {
  margin-bottom: 10px; }

.marginl10, .marginh10 {
  margin-left: 10px; }

.marginr10, .marginh10 {
  margin-right: 10px; }

.margint-n10 {
  margin-top: -10px; }

.marginb-n10 {
  margin-bottom: -10px; }

.marginl-n10 {
  margin-left: -10px; }

.marginr-n10 {
  margin-right: -10px; }

.padding10 {
  padding: 10px; }

.paddingt10, .paddingv10 {
  padding-top: 10px; }

.paddingb10, .paddingv10 {
  padding-bottom: 10px; }

.paddingl10, .paddingh10 {
  padding-left: 10px; }

.paddingr10, .paddingh10 {
  padding-right: 10px; }

.top10 {
  top: 10px; }

.right10 {
  right: 10px; }

.left10 {
  left: 10px; }

.bottom10 {
  bottom: 10px; }

.top-n10 {
  top: -10px; }

.right-n10 {
  right: -10px; }

.left-n10 {
  left: -10px; }

.bottom-n10 {
  bottom: -10px; }

.margin20 {
  margin: 20px; }

.margint20, .marginv20 {
  margin-top: 20px; }

.marginb20, .marginv20 {
  margin-bottom: 20px; }

.marginl20, .marginh20 {
  margin-left: 20px; }

.marginr20, .marginh20 {
  margin-right: 20px; }

.margint-n20 {
  margin-top: -20px; }

.marginb-n20 {
  margin-bottom: -20px; }

.marginl-n20 {
  margin-left: -20px; }

.marginr-n20 {
  margin-right: -20px; }

.padding20 {
  padding: 20px; }

.paddingt20, .paddingv20 {
  padding-top: 20px; }

.paddingb20, .paddingv20 {
  padding-bottom: 20px; }

.paddingl20, .paddingh20 {
  padding-left: 20px; }

.paddingr20, .paddingh20 {
  padding-right: 20px; }

.top20 {
  top: 20px; }

.right20 {
  right: 20px; }

.left20 {
  left: 20px; }

.bottom20 {
  bottom: 20px; }

.top-n20 {
  top: -20px; }

.right-n20 {
  right: -20px; }

.left-n20 {
  left: -20px; }

.bottom-n20 {
  bottom: -20px; }

.margin30 {
  margin: 30px; }

.margint30, .marginv30 {
  margin-top: 30px; }

.marginb30, .marginv30 {
  margin-bottom: 30px; }

.marginl30, .marginh30 {
  margin-left: 30px; }

.marginr30, .marginh30 {
  margin-right: 30px; }

.margint-n30 {
  margin-top: -30px; }

.marginb-n30 {
  margin-bottom: -30px; }

.marginl-n30 {
  margin-left: -30px; }

.marginr-n30 {
  margin-right: -30px; }

.padding30 {
  padding: 30px; }

.paddingt30, .paddingv30 {
  padding-top: 30px; }

.paddingb30, .paddingv30 {
  padding-bottom: 30px; }

.paddingl30, .paddingh30 {
  padding-left: 30px; }

.paddingr30, .paddingh30 {
  padding-right: 30px; }

.top30 {
  top: 30px; }

.right30 {
  right: 30px; }

.left30 {
  left: 30px; }

.bottom30 {
  bottom: 30px; }

.top-n30 {
  top: -30px; }

.right-n30 {
  right: -30px; }

.left-n30 {
  left: -30px; }

.bottom-n30 {
  bottom: -30px; }

.margin40 {
  margin: 40px; }

.margint40, .marginv40 {
  margin-top: 40px; }

.marginb40, .marginv40 {
  margin-bottom: 40px; }

.marginl40, .marginh40 {
  margin-left: 40px; }

.marginr40, .marginh40 {
  margin-right: 40px; }

.margint-n40 {
  margin-top: -40px; }

.marginb-n40 {
  margin-bottom: -40px; }

.marginl-n40 {
  margin-left: -40px; }

.marginr-n40 {
  margin-right: -40px; }

.padding40 {
  padding: 40px; }

.paddingt40, .paddingv40 {
  padding-top: 40px; }

.paddingb40, .paddingv40 {
  padding-bottom: 40px; }

.paddingl40, .paddingh40 {
  padding-left: 40px; }

.paddingr40, .paddingh40 {
  padding-right: 40px; }

.top40 {
  top: 40px; }

.right40 {
  right: 40px; }

.left40 {
  left: 40px; }

.bottom40 {
  bottom: 40px; }

.top-n40 {
  top: -40px; }

.right-n40 {
  right: -40px; }

.left-n40 {
  left: -40px; }

.bottom-n40 {
  bottom: -40px; }

.margin50 {
  margin: 50px; }

.margint50, .marginv50 {
  margin-top: 50px; }

.marginb50, .marginv50 {
  margin-bottom: 50px; }

.marginl50, .marginh50 {
  margin-left: 50px; }

.marginr50, .marginh50 {
  margin-right: 50px; }

.margint-n50 {
  margin-top: -50px; }

.marginb-n50 {
  margin-bottom: -50px; }

.marginl-n50 {
  margin-left: -50px; }

.marginr-n50 {
  margin-right: -50px; }

.padding50 {
  padding: 50px; }

.paddingt50, .paddingv50 {
  padding-top: 50px; }

.paddingb50, .paddingv50 {
  padding-bottom: 50px; }

.paddingl50, .paddingh50 {
  padding-left: 50px; }

.paddingr50, .paddingh50 {
  padding-right: 50px; }

.top50 {
  top: 50px; }

.right50 {
  right: 50px; }

.left50 {
  left: 50px; }

.bottom50 {
  bottom: 50px; }

.top-n50 {
  top: -50px; }

.right-n50 {
  right: -50px; }

.left-n50 {
  left: -50px; }

.bottom-n50 {
  bottom: -50px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.pos-r {
  position: relative; }

.pos-a, .vcenter, .hcenter, .abs-bottom, .abs-top, .abs-full, .abs-left, .abs-right {
  position: absolute; }

.pos-f, .fixed-bottom, .fixed-top, .fixed-full, .fixed-left, .fixed-right, .fixed-center {
  position: fixed; }

.vcenter {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.hcenter {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.abs-bottom, .fixed-bottom {
  bottom: 0;
  left: 0;
  right: 0; }

.abs-top, .fixed-top {
  top: 0;
  left: 0;
  right: 0; }

.abs-full, .fixed-full, .fixed-center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.fixed-center {
  margin: auto; }

.abs-left, .fixed-left {
  top: 0;
  bottom: 0;
  left: 0; }

.abs-right, .fixed-right {
  top: 0;
  bottom: 0;
  right: 0; }

.overflow-h {
  overflow: hidden; }

.overflow-xh {
  overflow-x: hidden; }

.overflow-yh {
  overflow-x: hidden; }

.dis-b {
  display: block; }

.dis-i {
  display: inline-block; }

.dis-n {
  display: none; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4285714286; }

/*text-Color*/
.text-red {
  color: #ff6565; }

.text-orange {
  color: #ff9800; }

.text-yellow {
  color: #ff6705; }

.text-green {
  color: #2eb252; }

.text-coffee {
  color: #853f3a; }

.text-blue {
  color: #108ee9; }

.text-purple {
  color: #7000C8; }

.text-black {
  color: #000; }

.text-darker {
  color: #222; }

.text-dark {
  color: #666; }

.text-gray {
  color: #8a8a8a; }

.text-light {
  color: #999; }

.text-lighter {
  color: #ccc; }

.text-white {
  color: #fff; }

/*text-Size*/
.fs-10 {
  font-size: 10px; }

.frs-20 {
  font-size: 0.2666666667rem; }

.fs-11 {
  font-size: 11px; }

.frs-22 {
  font-size: 0.2933333333rem; }

.fs-12 {
  font-size: 12px; }

.frs-24 {
  font-size: 0.32rem; }

.fs-13 {
  font-size: 13px; }

.frs-26 {
  font-size: 0.3466666667rem; }

.fs-14 {
  font-size: 14px; }

.frs-28 {
  font-size: 0.3733333333rem; }

.fs-15 {
  font-size: 15px; }

.frs-30 {
  font-size: 0.4rem; }

.fs-16 {
  font-size: 16px; }

.frs-32 {
  font-size: 0.4266666667rem; }

.fs-17 {
  font-size: 17px; }

.frs-34 {
  font-size: 0.4533333333rem; }

.fs-18 {
  font-size: 18px; }

.frs-36 {
  font-size: 0.48rem; }

.fs-19 {
  font-size: 19px; }

.frs-38 {
  font-size: 0.5066666667rem; }

.fs-20 {
  font-size: 20px; }

.frs-40 {
  font-size: 0.5333333333rem; }

/*text-Alignment*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-indent {
  text-indent: 2em; }

/*text-Transformation*/
.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

/*text type*/
.text-bolder {
  font-weight: bolder; }

.text-delete {
  text-decoration: line-through; }

.text-vcenter {
  display: table-cell;
  vertical-align: middle; }

.text-vtop {
  display: table-cell;
  vertical-align: top; }

.text-vbottom {
  display: table-cell;
  vertical-align: bottom; }

.text-limit1, .text-fixed1, .text-limit2, .text-fixed2, .text-limit3, .text-fixed3, .text-limit4, .text-fixed4, .text-limit5, .text-fixed5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; }

.text-limit1 {
  -webkit-line-clamp: 1; }

.text-fixed1 {
  height: 1.4285714286em;
  -webkit-line-clamp: 1; }

.text-limit2 {
  -webkit-line-clamp: 2; }

.text-fixed2 {
  height: 2.8571428571em;
  -webkit-line-clamp: 2; }

.text-limit3 {
  -webkit-line-clamp: 3; }

.text-fixed3 {
  height: 4.2857142857em;
  -webkit-line-clamp: 3; }

.text-limit4 {
  -webkit-line-clamp: 4; }

.text-fixed4 {
  height: 5.7142857143em;
  -webkit-line-clamp: 4; }

.text-limit5 {
  -webkit-line-clamp: 5; }

.text-fixed5 {
  height: 7.1428571429em;
  -webkit-line-clamp: 5; }

.lh-1 {
  line-height: 1; }

.lh-12 {
  line-height: 12px; }

.lh-16 {
  line-height: 16px; }

.lh-20 {
  line-height: 20px; }

.lh-24 {
  line-height: 24px; }

.lh-28 {
  line-height: 28px; }

.lh-32 {
  line-height: 32px; }

.lh-36 {
  line-height: 36px; }

.lh-40 {
  line-height: 40px; }

.lh-44 {
  line-height: 44px; }

.lh-48 {
  line-height: 48px; }

.lh-52 {
  line-height: 52px; }

.lh-56 {
  line-height: 56px; }

.lh-60 {
  line-height: 60px; }

i {
  display: inline-block; }

.bg-red {
  background-color: #ff6565; }

.bg-orange {
  background-color: #ff9800; }

.bg-yellow {
  background-color: #ff6705; }

.bg-green {
  background-color: #2eb252; }

.bg-coffee {
  background-color: #853f3a; }

.bg-blue {
  background-color: #108ee9; }

.bg-purple {
  background-color: #7000C8; }

.bg-black {
  background-color: #000000; }

.bg-white {
  background-color: #ffffff; }

/*title with line at left and right*/
.lineTitle {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .lineTitle:before {
    display: block;
    content: '';
    border-top: 1px solid #8a8a8a;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 0.75rem; }
  .lineTitle:after {
    display: block;
    content: '';
    border-top: 1px solid #8a8a8a;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0.75rem; }

/*@import "base/button";*/
/*@import "base/badge";*/
.border {
  border: 1px solid #eeeeee; }
  .borderl {
    border-left: 1px solid #eeeeee; }
  .borderr {
    border-right: 1px solid #eeeeee; }
  .bordert {
    border-top: 1px solid #eeeeee; }
  .borderb {
    border-bottom: 1px solid #eeeeee; }
  .borderh {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee; }
  .borderv {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; }
  .border.item > * {
    border: 1px solid #eeeeee; }
  .border.itemv > * {
    border-top: 1px solid #eeeeee; }
    .border.itemv > *:first-child {
      border-top: none; }
  .border.itemh > * {
    border-left: 1px solid #eeeeee; }
    .border.itemh > *:first-child {
      border-left: none; }
  .border.round {
    border-radius: 50%; }
  .border.radius {
    border-radius: 4px; }

/*@import "base/form";*/
.listGroup {
  position: relative;
  list-style: none;
  overflow: hidden; }
  .listGroup .listGroup_item {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    overflow: hidden; }
    .listGroup .listGroup_item:last-child:after {
      height: 0; }
    .listGroup .listGroup_item:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      -webkit-transform: scaleY(0.5);
              transform: scaleY(0.5);
      background-color: #eeeeee; }
  .listGroup.listGroup-hideLine .listGroup_item {
    margin-top: 0;
    margin-bottom: 0; }
    .listGroup.listGroup-hideLine .listGroup_item:after, .listGroup.listGroup-hideLine .listGroup_item:before {
      display: none; }
  .listGroup.listGroup-col2 .listGroup_item, .listGroup.listGroup-col3 .listGroup_item, .listGroup.listGroup-col4 .listGroup_item, .listGroup.listGroup-col5 .listGroup_item {
    float: left;
    margin-bottom: -1px;
    margin-top: 1px; }
    .listGroup.listGroup-col2 .listGroup_item:before, .listGroup.listGroup-col3 .listGroup_item:before, .listGroup.listGroup-col4 .listGroup_item:before, .listGroup.listGroup-col5 .listGroup_item:before {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 1px;
      content: '';
      -webkit-transform: scaleX(0.5);
              transform: scaleX(0.5);
      background-color: #eeeeee; }
  .listGroup.listGroup-col2 .listGroup_item {
    width: 50%; }
    .listGroup.listGroup-col2 .listGroup_item:nth-child(2n):before {
      width: 0; }
    .listGroup.listGroup-col2 .listGroup_item:nth-child(2n+1) {
      clear: both; }
  .listGroup.listGroup-col3 .listGroup_item {
    width: 33.3333333333%; }
    .listGroup.listGroup-col3 .listGroup_item:nth-child(3n):before {
      width: 0; }
    .listGroup.listGroup-col3 .listGroup_item:nth-child(3n+1) {
      clear: both; }
  .listGroup.listGroup-col4 .listGroup_item {
    width: 25%; }
    .listGroup.listGroup-col4 .listGroup_item:nth-child(4n):before {
      width: 0; }
    .listGroup.listGroup-col4 .listGroup_item:nth-child(4n+1) {
      clear: both; }
  .listGroup.listGroup-col5 .listGroup_item {
    width: 20%; }
    .listGroup.listGroup-col5 .listGroup_item:nth-child(5n):before {
      width: 0; }
    .listGroup.listGroup-col5 .listGroup_item:nth-child(5n+1) {
      clear: both; }

.notice {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  max-width: 80%;
  max-height: 90%;
  overflow: scroll;
  text-align: center; }

.notice i {
  display: block;
  font-size: 30px;
  margin-bottom: 5px; }

/*@import "ui/mask";*/
.popup {
  overflow: hidden;
  min-width: 270px;
  width: 72%;
  min-height: 158px;
  padding-bottom: 44px;
  background: #fff; }

.popup_close {
  position: absolute;
  bottom: 100%;
  right: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff; }

.popup_title {
  color: #21b252;
  text-align: center; }

.popup_content {
  color: #666; }

.popup_ok,
.popup_cancel {
  height: 44px;
  border: 0;
  border-top: 1px solid #e3e3e3;
  background: transparent;
  color: #21b252; }

.alert_ok {
  width: 100%; }

.confirm_ok {
  right: 0;
  width: 50%; }

.confirm_cancel {
  left: 0;
  width: 50%;
  border-right: 1px solid #e3e3e3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666; }

.effect {
  -webkit-transition: all .4s;
  transition: all .4s; }

.effect-fuqi:hover {
  -webkit-transform: translateY(-2%);
          transform: translateY(-2%);
  -webkit-box-shadow: 1px 4px 10px 2px #CCC;
          box-shadow: 1px 4px 10px 2px #CCC; }

/*登陆*/
@media (min-width: 600px) {
  .login_box .login_input .ant-input-prefix {
    left: 20px !important;
    font-size: 24px !important; }
  .login_box .login_input .ant-input-lg {
    padding: 10px 7px 10px 60px !important;
    height: 50px;
    font-size: 20px;
    color: #222; }
  .login_box .login_input:nth-of-type(1) .has-error .error {
    top: -35px;
    font-size: 14px; }
  .login_box .login_input:nth-of-type(2) .has-error .error {
    top: -105px;
    font-size: 14px; }
  .login_box .login_button .ant-btn-lg {
    height: 50px;
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px; }
  .login_box .login_button label {
    font-size: 14px; }
    .login_box .login_button label .ant-checkbox-inner {
      width: 18px;
      height: 18px; }
      .login_box .login_button label .ant-checkbox-inner:after {
        left: 5px !important;
        top: 0px !important;
        width: 6px !important;
        height: 12px !important; }
    .login_box .login_button label input[type='checkbox'] {
      width: 18px;
      height: 18px; } }
@media (max-width: 600px) {
  .login_box {
    width: 80% !important;
    padding: 20px !important; }
    .login_box .logo_title {
      font-size: 14px !important; }
    .login_box .login_input .ant-input-prefix {
      left: 10px !important;
      font-size: 14px !important; }
    .login_box .login_input .ant-input-lg {
      color: #222;
      padding: 6px 7px 6px 30px !important; }
    .login_box .login_input:nth-of-type(1) .has-error .error {
      top: -25px; }
    .login_box .login_input:nth-of-type(2) .has-error .error {
      top: -78px; }
    .login_box .login_button {
      margin-bottom: 0; }
      .login_box .login_button .ant-btn-lg {
        margin-top: 10px; }
    .login_box .login-form {
      margin-top: 30px !important; } }
